table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    /*header */
    background-color: #f5f5f5; 
    font-weight: bold;
}

/* top section */
h1 {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
}

/* form */
form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 3px;
}

/* buttons */
button {
    background-color: #26ab45;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1e7a32; 
}
